__pycache__/
doc/build/

# Sphinx autosummary generated content.
doc/source/generated

# Packaging output.
dist/

# Unit test PDF output.
/pdf/
example_output/

# Cache file.
atform.cache

# Unit test coverage analysis results.
.coverage
.coverage.*
