name: release

on:
  push:
    tags:
      - 'release/*'

jobs:
  unittest:
    strategy:
      matrix:
        os:
          - ubuntu-latest

          - windows-latest

          - macos-latest

        # Python versions to run on; must match the requires-python in
        # pyproject.toml.
        python:
          - '3.9'
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'

    runs-on: ${{ matrix.os }}

    steps:
      - name: Install target Python version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Checkout target commit
        uses: actions/checkout@v4

      - name: Install requirements
        run: |
          pip install toml-to-requirements
          toml-to-req --toml-file pyproject.toml
          pip install -r requirements.txt

      # Linux runners require a virtual display to handle Tkinter tests.
      - name: Setup virtual display
        if: contains(matrix.os, 'ubuntu')
        run: Xvfb :1 -screen 0 1280x1024x8 &

      - name: Run unit tests

        # Enable the virtual display created in a previous step;
        # this variable has no effect for non-Linux runners.
        env:
          DISPLAY: ':1.0'

        run: python -m unittest

      - name: Upload output
        uses: actions/upload-artifact@v4
        with:
          name: unittest_output_${{ matrix.os }}_python${{ matrix.python }}
          path: |
            pdf/*
            example_output/**

  build:
    runs-on: ubuntu-latest
    needs: unittest
    permissions:
      contents: write # Required to create a new release.

    steps:
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          # Needs to be 3.11 or later due to packages used by doc/source/conf.py.
          python-version: '3.11'

      - name: Install build requirements
        run: |
          pip install build
          pip install sphinx
          pip install twine

      - name: Install LaTeX
        run: |
          sudo apt-get update
          sudo apt-get install latexmk
          sudo apt-get install texlive-latex-extra
          sudo apt-get install texlive-font-utils

      - name: Checkout target commit
        uses: actions/checkout@v4

      # Sphinx imports the module being documented, so dependencies need
      # to be present.
      - name: Install dependencies
        run: |
          pip install toml-to-requirements
          toml-to-req --toml-file pyproject.toml
          pip install -r requirements.txt

      - name: Build manual
        run: make latexpdf
        working-directory: ./doc

      - name: Build package
        run: python -m build --wheel

      # Extract the version number from the tag to create the release name.
      - name: Create release name
        run: echo "RELEASE_NAME=v$(echo $GITHUB_REF_NAME | cut -d'/' -f2)" >> $GITHUB_ENV

      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          artifacts: dist/*, doc/build/latex/atform.pdf
          draft: true
          name: ${{ env.RELEASE_NAME }}
